
/* HERO */

.hero {
  text-align: center;

  min-height: 103vh;
  margin: 0 auto;
  background-color: $main-txt-cl;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 50%,rgba(255, 255, 255, 0) 100%), url(../img/hero.webp) ;
  // background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 35%,rgba(255, 255, 255, 0) 100%), url(../img/hero.png) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  margin-top: -76px;
  // @media screen and (min-width: 768px) {
    
  // }
  @media screen and (min-width: 1024px) {
    margin-top: -69px;
    min-height: 100vh;
  }

  &-title {
    min-height: 58px;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 100px;
    margin-bottom: 50px;
  
    
  
    @media (min-width: 768px) {
      font-size: 72px;
      padding-top: 230px;
      margin-bottom: 78px;
    }

  
  }
  
  &-txt {
    text-transform: uppercase;
    margin-bottom: 130px;
    color: $main-txt-cl;
    font-weight: 300;
    // text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    
    @media screen and (min-width: 1024px) {
      margin-bottom: 100px;
      font-size: 20px;
      display: inline-block; 
      align-items: center;
      width: 900px;
      
    }
  }
  
  &-btn {
    background-color: $hover-btn-cl;
    color: $main-bg-cl;
    border: 1px solid $main-bg-cl;
    @media screen and (min-width: 1024px) {
      background-color: transparent;
      color: inherit;
      border: $main-border;

      display: block;
      width: 320px;
      margin: 0 auto;
    }
  }
  
  
}



