/* SKILLS */

.skills {
  background-image: url(../img/bg-skills.svg);
  background-repeat: no-repeat;
  background-position: center;
  // background-position-y: 55px;
  // background-size: cover;
  background-size: contain;

  &-img {
    border: $main-border;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: $border-radius;

    display: block;
    margin: 0 auto;
  }

  &-item:not(:last-child){
    margin-bottom: 15px;

  }

  @media screen and (min-width: 768px) {
    
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    
    
  }

  @media screen and (min-width: 1240px) {
    
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      &-item:nth-child(-n+4) {
        margin-bottom: 30px;
      }
    
  }
  

}