// $main-color: #132df0;
$main-color: rgba(16, 40, 223, 0.661);

$main-txt-cl: #2a2a2a;
$secondary-txt-cl: #777779;
$main-bg-cl: #ffffff;


$hover-btn-cl: rgba(28, 52, 234, 0.506);

$main-border: 0.5px solid #2a2a2a;
// $border-radius: 15px;
$border-radius: none;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;