@media print {
  body {
    display: none;
  }
}
@font-face {
  font-family: "Display-Variable";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "FuturaPT-Light";
  src: url("../fonts/FuturaPT-Light.ttf");
}
@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../fonts/FuturaPT-Medium.ttf");
}
@font-face {
  font-family: "FuturaPT-Book";
  src: url("../fonts/FuturaPT-Book.ttf");
}
.is-hidden {
  position: absolute;
  left: -99999px;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
.logo-txt {
  font-family: "FuturaPT-Book";
  font-weight: 300;
  letter-spacing: 5px;
  color: rgba(16, 40, 223, 0.661);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url("../img/cursor.svg"), auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "FuturaPT-Light";
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.5em;
  background-color: #ffffff;
  font-size: 17px;
  color: #2a2a2a;
  cursor: url("../img/cursor.svg"), auto;
}

main > section:not(:first-child) {
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  main > section:not(:first-child) {
    padding: 25px 0;
  }
}
@media screen and (min-width: 1024px) {
  main > section:not(:first-child) {
    padding: 35px 0;
  }
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Button Base */
.base-btn {
  display: inline-block;
  min-width: 110px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 14px 33px;
  text-transform: uppercase;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0.5px solid #2a2a2a;
  border-radius: none;
  vertical-align: middle;
  text-align: center;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.base-btn:hover {
  transform: scale(1.01);
  box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
  background-color: rgba(28, 52, 234, 0.506);
  color: #ffffff;
  cursor: url("../img/cursor-hover.svg"), auto;
}

.title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 25px;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.section-txt {
  margin-bottom: 60px;
  text-align: center;
}

.section-logo {
  display: block;
  margin: 0 auto;
  width: 80px;
}
@media screen and (min-width: 1024px) {
  .section-logo {
    width: 102px;
  }
}

/* ----- BTN back-to-top ----- */
.back-to-top {
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  width: 65px;
  min-height: 65px;
  border-radius: 50%;
  border: 0.5px solid #2a2a2a;
  transition: 300ms;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.back-to-top:hover, .back-to-top:focus {
  box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
  border: 1px solid #2a2a2a;
  background-color: rgba(28, 52, 234, 0.506);
  scale: 0.9;
}
.back-to-top:hover .back-icon, .back-to-top:focus .back-icon {
  stroke: #ffffff;
}

.back-to-top--show {
  display: grid;
}

.back-icon {
  stroke: #2a2a2a;
  transition: 300ms;
}

/* Header */
header {
  padding-top: 5px;
}

nav {
  position: relative;
}
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  nav > a {
    display: flex;
    align-items: center;
    width: 200px;
  }
}

.logo {
  margin-right: 15px;
  width: 100px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 767px) {
  .logo-link {
    display: flex;
    align-items: center;
  }
}

.logo-link:hover,
.logo-link:active {
  cursor: url("../img/cursor-hover.svg"), auto;
}

.logo-txt {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: rgba(16, 40, 223, 0.661);
}

.menu-list {
  display: none;
  max-width: 100%;
}
@media screen and (max-width: 1139px) {
  .menu-list {
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7529411765);
    padding: 25px;
    border-radius: none;
    border: 0.5px solid #2a2a2a;
  }
}
@media screen and (min-width: 1140px) {
  .menu-list {
    display: flex;
    gap: 15px;
    margin: 0 auto;
  }
}

.menu-item {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1139px) {
  .menu-item {
    text-align: center;
    font-size: 22px;
    border-bottom: 0.5px solid #2a2a2a;
    border-top: 0.5px solid #2a2a2a;
    border-radius: none;
    padding: 5px 10px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1140px) {
  .menu-item {
    font-size: 18px;
  }
}

@media screen and (min-width: 1140px) {
  .menu-item > a {
    border-bottom: 0.5px solid #2a2a2a;
    border-top: 0.5px solid #2a2a2a;
    border-radius: none;
    padding: 8px 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-item > a:hover,
.menu-item > a:focus {
  color: rgba(16, 40, 223, 0.661);
  border-color: rgba(16, 40, 223, 0.661);
  cursor: url("../img/cursor-hover.svg"), auto;
}

.menu-item:hover {
  scale: 1.025;
}

.menu-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: #2a2a2a;
  position: absolute;
  top: 5px;
  right: 15px;
}
@media screen and (min-width: 1139px) {
  .menu-btn {
    display: none;
  }
}

.icon-plus {
  display: none;
}

@media screen and (max-width: 1139px) {
  .menu-btn.is-open .icon-plus,
  .menu-list.is-open {
    display: block;
  }
}
.menu-btn.is-open .icon-menu {
  display: none;
}

/* HERO */
.hero {
  text-align: center;
  min-height: 103vh;
  margin: 0 auto;
  background-color: #2a2a2a;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%), url(../img/hero.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -76px;
}
@media screen and (min-width: 1024px) {
  .hero {
    margin-top: -69px;
    min-height: 100vh;
  }
}
.hero-title {
  min-height: 58px;
  font-size: 50px;
  font-weight: 900;
  padding-top: 100px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 72px;
    padding-top: 230px;
    margin-bottom: 78px;
  }
}
.hero-txt {
  text-transform: uppercase;
  margin-bottom: 130px;
  color: #2a2a2a;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .hero-txt {
    margin-bottom: 250px;
    font-size: 20px;
    display: inline-block;
    align-items: center;
    width: 900px;
  }
}
.hero-btn {
  background-color: rgba(28, 52, 234, 0.506);
  color: #ffffff;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero-btn {
    background-color: transparent;
    color: inherit;
    border: 0.5px solid #2a2a2a;
    display: block;
    width: 320px;
    margin: 0 auto;
  }
}

/* ---- FOR ME ---- */
.wrap-for-me {
  line-height: 1.3em;
}
@media screen and (min-width: 1024px) {
  .wrap-for-me {
    display: flex;
  }
}

.for-me {
  min-height: 800px;
  background-image: url(../img/bg-for-me.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.for-me-img {
  border: 0.5px solid #2a2a2a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 420px) {
  .for-me-img {
    margin-bottom: 20px;
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .for-me-img {
    margin-bottom: 20px;
    width: 460px;
    height: 620px;
  }
}
@media screen and (min-width: 1024px) {
  .for-me-img {
    margin-right: 30px;
    width: 560px;
    height: 820px;
  }
}
.for-me-list {
  margin-bottom: 20px;
  text-align: justify;
  text-indent: 30px;
}
.for-me-item:not(:last-child) {
  margin-bottom: 15px;
}
.for-me-btn {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .for-me-btn {
    width: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .for-me-btn {
    display: inline-block;
  }
}

/* WORK */
.work-subtitle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.work-item {
  margin-bottom: 15px;
  border: 0.5px solid #2a2a2a;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work-item {
    width: calc((100% - 40px) / 2);
    margin-right: 20px;
  }
  .work-item:nth-child(2n) {
    margin-right: 0;
  }
  .work-item:nth-child(-n+2) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .work-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .work-item:nth-child(3n) {
    margin-right: 0;
  }
  .work-item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
.work-item:hover, .work-item:focus {
  transform: scale(1.01);
  box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
}

.work-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.work-txt {
  text-align: justify;
}

.work-sublist {
  padding: 0 10px 15px;
}

.work-subitem {
  text-align: center;
  padding: 5px 0;
  border: 0.5px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.work-subitem:hover {
  box-shadow: rgb(54, 57, 60) 0px 20px 30px -10px;
}

.work-subitem:not(:last-child) {
  margin-bottom: 10px;
}

.work-subitem > a:hover,
.work-subitem > a:focus {
  color: rgba(16, 40, 223, 0.661);
  cursor: url("../img/cursor-hover.svg"), auto;
}

.work-subitem > a {
  display: block;
  width: 100%;
}

/* SKILLS */
.skills {
  background-image: url(../img/bg-skills.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.skills-img {
  border: 0.5px solid #2a2a2a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: none;
  display: block;
  margin: 0 auto;
}
.skills-item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1240px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .skills-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

/* CLIENTS */
.clients {
  background-image: url(../img/bg-clients.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1024px) {
  .clients-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
.clients-item {
  padding: 25px;
  max-width: 440px;
  border: 0.5px solid #2a2a2a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: none;
  display: block;
  margin: 15px auto;
}
.clients-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
}
.clients-location {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 10px;
  color: #777779;
}
.clients-story {
  text-align: justify;
}

/* ----- Contacts ----- */
.contacts-txt {
  text-align: start;
}

.contacts-wrap-txt {
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .contacts-wrap-txt {
    max-width: calc((100% - 25px) / 2);
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.back-to-top:hover {
  color: rgba(16, 40, 223, 0.661);
  cursor: url("../img/cursor-hover.svg"), auto;
}

.contacts-icon,
.back-icon {
  stroke: #2a2a2a;
  fill: none;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  stroke: rgba(16, 40, 223, 0.661);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contacts-list {
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-wrap {
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .contacts-wrap {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
}

/* ------- CONTACT FORM ------- */
.form {
  min-width: calc((100% - 25px) / 2);
}
.form-list {
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .form-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.form-item {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .form-item {
    flex: 1;
    min-width: 0;
  }
}
.form-label {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #777779;
  transition: 300ms;
}
.form-input {
  padding: 5px;
  border: 0.5px solid #2a2a2a;
  background-color: #ffffff;
  outline: none;
  border-radius: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 300ms;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .form-input {
    margin-bottom: 25px;
    display: block;
    width: 100%;
  }
}
.form-input:focus {
  border-color: rgba(28, 52, 234, 0.506);
}
.form-input:not(:-moz-placeholder) ~ .form-label {
  top: -23px;
  color: #2a2a2a;
  font-size: 15.5px;
}
.form-input:focus ~ .form-label, .form-input:not(:placeholder-shown) ~ .form-label {
  top: -23px;
  color: #2a2a2a;
  font-size: 15.5px;
}
.form-message {
  resize: none;
  padding: 5px;
}
@media screen and (max-width: 767px) {
  .form-message {
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .form-message {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .form-btn {
    display: block;
    margin: 0 auto;
    width: 320px;
  }
}

.input-age {
  min-width: 200px;
}
@media screen and (min-width: 1024px) {
  .input-age {
    min-width: 0;
  }
}

/* ----- MAP ------ */
.map {
  height: 300px;
  aspect-ratio: 16/9;
  width: 100%;
  overflow: hidden;
  border: 0.5px solid #2a2a2a;
  border-radius: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (min-width: 1024px) {
  .map {
    height: 450px;
  }
}
.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* ----- Footer ----- */
.footer {
  margin-bottom: 20px;
}

.footer-txt {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 121, 0.6784313725);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-close {
  opacity: 0;
  pointer-events: none;
  scale: 1.2;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 370px;
  min-height: 570px;
  padding: 20px;
  border: 0.5px solid #2a2a2a;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 5px 15px;
}

.modal-txt {
  text-align: center;
  margin-bottom: 15px;
}

.modal-form {
  min-width: calc((100% - 25px) / 2);
}
.modal-form-list {
  margin-bottom: 15px;
}
.modal-form-item {
  position: relative;
}
.modal-form-label {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #777779;
  transition: 300ms;
}
.modal-form-input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
  border: 0.5px solid #2a2a2a;
  background-color: #ffffff;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 300ms;
  border-radius: none;
  resize: none;
}
.modal-form-input:focus {
  border-color: rgba(28, 52, 234, 0.506);
}
.modal-form-input:not(:-moz-placeholder) ~ .modal-form-label {
  top: -23px;
  color: #2a2a2a;
  font-size: 15.5px;
}
.modal-form-input:focus ~ .modal-form-label, .modal-form-input:not(:placeholder-shown) ~ .modal-form-label {
  top: -23px;
  color: #2a2a2a;
  font-size: 15.5px;
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  width: 320px;
}

.modal-contacts {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.close-modal {
  margin-left: 90%;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #2a2a2a;
  border-radius: 50%;
  border: 0.5px solid #2a2a2a;
  background-color: rgba(28, 52, 234, 0.506);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover {
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */